# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Symlink or actual directory for virtual environment
virtualenv*

# Local configuration
pathfinder/etc/*.local.*

# Input data
pathfinder/var/lib/*.csv
!pathfinder/var/lib/*.template
